body {
  background-image: url(../img/photo_2.png);
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-size: 150%;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  background-attachment: fixed;
  z-index: -1;
}

.faq h2 {
    width: 100%;
    height: 75px;
    background-color: #000;
    font-size: 4rem;
    text-align: center;
  }
  
  .faq-inner {
    margin: 0 auto;
    padding: 50px 30px;
  }
  
  .faq-checkbox {
    display: none;
  }
  
  .faq-label {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    padding: 24px 36px 24px 24px;
    background-color: rgb(44, 44, 44);
    font-size: 2rem;
    box-shadow: 0 10px 55px rgba(0,0,0,.05);
    position: relative;
  }
  
  .faq-label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    right: 16px;
    width: 18px;
    height: 18px;
  }
  
  .faq-checkbox:checked + .faq-label::after {
    background-size: contain;
  }
  
  .faq-accordion {
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.5s;
    margin-bottom: 20px;
  }
  
  .faq-checkbox:checked + .faq-label + .faq-accordion {
    max-height: 224px;
    visibility: visible;
  }
  
  .faq-answer {
    background-color: rgba(69, 69, 70, 0.8);
    padding: 20px 15px 20px 45px;
    color: #fff;
    font-size: 2rem;
    text-indent: -1em;
  }
  
  @media screen and (min-width: 767px) {
    .faq-inner {
        width: 960px;
        padding: 60px 90px;
    }
  
    .faq-label {
        padding: 24px;
    }
  
    .faq-label::after {
        right: 24px;
        width: 25px;
        height: 25px;
    }
  
    .faq-checkbox:checked + .faq-label + .faq-accordion {
        max-height: 120px;
    }

  }
  
  